body {
    background-color: rgb(253, 253, 253);
    color: rgb(35, 35, 35);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    height: 100%;
}
a {
    color: rgb(223, 173, 67);
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: rgb(255, 119, 0);
}
a:visited {
    text-shadow: #FC0 2px 0 10px;
    text-decoration: wavy;
}
a:hover {
    color: white;
    background-color: black;
    padding: 5px;
    text-decoration: underline;
    border-radius: 14px;
    transition: 0.3s;
}
a:active {
    color: rgb(223, 173, 67);
}
h1 {
    font-size: 35px;
}
header {
    background-color: rgb(35, 35, 35);
    color: rgb(253, 253, 253);
    padding: 8px;
}
main {
    margin: 2px 15px 50px;
    padding: 2px;
}
footer {
    background-color: rgb(35, 35, 35);
    color: rgb(253, 253, 253);
    padding: 6.6px;
    position: fixed;
	bottom: 0;
    right: 0;
    left: 0;
}
li {
    font-size: 18px;
    margin: 3px;
}
div.menu {
    border: 7px solid rgb(240, 188, 74, 0.9);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto 10px;
}
div.menu:hover {
    box-shadow: 10px 5px 5px rgb(69, 69, 69);
    transition: 1s;
    background-color: rgb(252, 251, 245);
}
